.ambre-table {
  width: 100%;
  border: 1px solid $--border-default;
  padding: 5px;
  border-spacing: 0;
  &-header {
    background: $--border-default;
    &-item {
      padding: 10px 5px;
      box-sizing: border-box;
      border-left: 1px solid #ffffff;
      &:first-child{
        border-left: none;
      }
    }
  }
  &-body {
    &-item {
      font-size: 14px;
      padding: 5px;
      border-left: 1px solid $--border-default;
      border-bottom: 1px solid $--border-default;
      box-sizing: border-box;
      &:last-child{
        border-right: 1px solid $--border-default;
      }
    }
    &-block{
      display: none;
    }
  }
}
@media screen and (max-width: 1024px) {
  .ambre-table {
    &-header {
      &-item {
        display: none;
        &:first-child{
          display: block;
        }
      }
    }
    &-body {
      &-item {
        display: none;
        padding:10px;
        &:first-child{
          display: block;
          border-right:1px solid $--border-default;
        }
      }
      &-block{
        padding: 0 10px;
        overflow: hidden;
        transition: all .5s;
        font-size:12px;
        display: block;
        background: $--border-default;
        line-height:30px;
        .ambre-button{
          width:100%;
          height:30px;
          line-height:20px;
          box-sizing: border-box;
          margin-bottom:5px;
        }
      }
    }
  }
}