// border
$--border-default: #dbdbdb;
// button
$--button-default: #ffffff;
$--button-primary: #6bb9dd;
$--button-success: #72e06e;
$--button-warning: #e9c970;
$--button-serious: #ee6e6e;
$--button-default-activated: #ebebeb;
$--button-primary-activated: #2ca9e2;
$--button-success-activated: #40ca3b;
$--button-warning-activated: #f5cd1e;
$--button-serious-activated: #eb2525;